<form [formGroup]="form">
  <div><label>model: <input type="text" formControlName="model"></label></div>
  <div><label>price: <input type="text" formControlName="price"></label></div>
  <div><label>year: <input type="text" formControlName="year"></label></div>
  <button (click)="save()">save</button>
</form>

<div>
  <div *ngFor="let car of cars">
    <p>model: {{car.model}}</p>
    <p>price: {{car.price}}</p>
    <p>year: {{car.year}}</p>
    <p>
      <button (click)="update(car)">update</button>
      <button (click)="delete(car.id)">delete</button>
    </p>
  </div>
</div>

